*.csv filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
backend/data/sales.csv filter=lfs diff=lfs merge=lfs -text
backend/data/sales.jsonl filter=lfs diff=lfs merge=lfs -text
